{% extends "base.html" %}

{% block title %}
Add Customer
{% endblock title %}

{% block body %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Add Customer</h1>

  <!-- <div class="btn-toolbar mb-2 mb-md-0">

    <a href="/add_invoice" style="text-decoration:none"><button type="button" class="btn btn-sm btn-outline-secondary  d-flex align-items-center gap-1">
      <svg class="bi"><use xlink:href="#file-earmark-text"/></svg>
      Create Invoice
    </button></a>
  </div> -->

  </div>


<div class="container">
  <center><h2>Customer Details</h2></center>
  <br>
    <form class="row g-3" method="POST" action="/add_customer">
          
          <div class="col-md-6 form-floating">
            
            <input type="text" class="form-control" name="customer_name" id="customer_name" placeholder="Customer Name" autocomplete="off" oninput="convertToUpperCase(this)" required>
                  <label for="floatingPassword">Customer Name</label>
          </div>

          <div class="col-md-6 form-floating">
            <input type="number" class="form-control" name="customer_mobile_no" id="customer_mobile_no" placeholder="Customer Mobile Number" min="10" autocomplete="off">
            <label for="floatingPassword">Customer Mobile Number</label>
          </div>
  
          <div class="col-md-6 form-floating">
            <input type="text" class="form-control" name="customer_place" id="customer_place" placeholder="Customer Place" autocomplete="off" oninput="convertToUpperCase(this)" required>
            <label for="floatingPassword">Customer Place</label>
          </div>

          <div class="col-md-6 form-floating">
            <input type="text" class="form-control" name="customer_gst_no" id="customer_gst_no" placeholder="Customer GST Number" autocomplete="off">
            <label for="floatingPassword">Customer GST Number</label>
        </div>

        <div class="col-md-12 form-floating">
            <input type="number" class="form-control" name="customer_discount_percentage" autocomplete="off" placeholder="Customer Discount Percentage">
            <label for="floatingPassword">Customer Discount Percentage</label>
        </div>

        
        <button type="submit" id="save" class="btn btn-primary">Save</button>
    </div>
        
      </table>
        
      </form>
</div>

<!-- For converting text to uppercase -->
<script>
  // START =============================================================

$(document).ready(function() {

// Initialize 
convertToUpperCase();

})

function convertToUpperCase(input) {
input.value = input.value.toUpperCase();
}
</script>
{% endblock body %}