{% extends "base.html" %}

{% block title %}
All Customers
{% endblock title %}

{% block body %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Customers</h1>

  <div class="btn-toolbar mb-2 mb-md-0">

    <a href="/add_customer" style="text-decoration:none"><button type="button" class="btn btn-sm btn-outline-secondary  d-flex align-items-center gap-1">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
        <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
      </svg>
      Add Customer
    </button></a>
  </div>

  </div>

  
{% if data|length == 0 %}
<center><h1>No Customer Found</h1></center>

  {% else %}

<center><h2>All Customers</h2></center>
<br>
<div class="table-responsive-sm">

  <table class="table table-bordered border-primary" id="table_search">
      <thead class="table-secondary">
        <tr>
          <th>Sr No.</th>
          <th>Customer Name</th>
          <th>Customer Place</th>
          <th>Mobile No.</th>
          <th>Discount</th>
          <th>GST No.</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>

        {% for item in data %}

        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{item.customer_name}}</td>
          <td>{{item.customer_place}}</td>
          <td>{{item.mobile_no}}</td>
          <td>{{item.discount_percentage}}%</td>
          <td>{{item.gst_no}}</td>

          <td>
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                <a href="/edit_customer?id={{item.id}}"><button type="button" class="btn btn-success">Edit</button></a>
                <button type="button" value="{{item.id}}-{{item.customer_name}} {{item.customer_place}}" class="btn btn-danger btndelete">Delete</button>
            </div>
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


  <!-- Delete customer confirm  -->
    <script>
    
      $(document).ready(function() {
          $('.btndelete').click(function() {
            var combinedValue = $(this).val(); // Assuming the value is something like "12345-INV001"

            // Split the combined value into id and invoice_no
            var values = combinedValue.split('-');
            var delete_customer_id = values[0];           // This will be the first part (e.g., "12345")
            var customer_name = values[1]; 
            Swal.fire({
            title: "Are you sure?",
            text: `You want to delete ${customer_name} Customer, You won't be able to revert this!`,
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#adb5bd",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = `/delete_customer?delete_customer_id=${delete_customer_id}`;
          }
        });

          });
      });
    </script>



  {% endif %}

  {% endblock body %}