{% extends 'base.html' %}

{% block title %}
Edit Invoice
{% endblock title %}

{% block body %}



<div class="container">
<h1>Edit Invoice</h1>
</div>

<br>

<div class="container">
  <center><h2>Customer Details</h2></center>
  <br>
    <form class="row g-3" method="POST" action="/edit_invoice?id={{context.data.id}}">
          
          <div class="col-md-6 form-floating">
            
            <input type="text" class="form-control" value="{{context.data.customer_name}}" name="customer_name" id="customer_name" placeholder="Customer Name" autocomplete="off" list="customer_names"required>

                  <!-- <select name="select_box" class="form-select" name="customer_name"  id="customer_name" >
                    <option value=""></option>
                    {% for x in context.all_customers %}
                    <option value="{{x.customer_name}}" data-subtext="{{x.customer_place}}">{{x.customer_name}}</option>
                    {% endfor %}
                  </select> -->
                  <label for="floatingPassword">Customer Name</label>
          </div>

          <datalist id="customer_names">
            {% for x in context.all_customers %}

            <option value="{{x.customer_name}}">{{x.customer_name}} @ {{x.customer_place}}</option>
            {% endfor %}
        </datalist>

          <div class="col-md-6 form-floating">
            <input type="number" class="form-control" value="{{context.data.invoice_json['customer_mobile_no']}}" name="customer_mobile_no" id="customer_mobile_no" placeholder="Customer Mobile Number" readonly>
            <label for="floatingPassword">Customer Mobile Number</label>
          </div>
  
          <div class="col-md-6 form-floating">
            <input type="text" class="form-control" value="{{context.data.customer_place}}" name="customer_place" id="customer_place" placeholder="Customer Place" readonly>
            <label for="floatingPassword">Customer Place</label>
          </div>

          <div class="col-md-6 form-floating">
            <input type="text" class="form-control" value="{{context.data.invoice_json['customer_gst_no']}}" name="customer_gst_no" id="customer_gst_no" placeholder="Customer GST Number" readonly>
            <label for="floatingPassword">Customer GST Number</label>
        </div>

        <div class="col-md-3 form-floating">
            <input type="text" class="form-control" value="{{context.data.invoice_json['parcel_details']}}" name="parcel_details" id="" autocomplete="off" placeholder="Parcel Details" oninput="convertToUpperCase(this)">
            <label for="floatingPassword">Parcel Details</label>
        </div>
        <div class="col-md-3 form-floating">
            <input type="text" value="{{context.data.invoice_json['note']}}" class="form-control" name="note" id="" placeholder="Note" autocomplete="off">
            <label for="floatingPassword">Note</label>
            </div>

          <div class="col-md-3 form-floating">
            <input type="number" class="form-control" name="invoice_number" value="{{context.data.invoice_no}}" id="" placeholder="Invoice Number" readonly>
            <label for="floatingPassword">Invoice Number</label>
            </div>
            <div class="col-md-3 form-floating">
                <input type="date" class="form-control" name="invoice_date" value="{{context.data.invoice_date}}" id="" placeholder="Date">
                <label for="floatingPassword">Date</label>
            </div>
            
        
        <center><h2>Products Details</h2></center>
        <div class="table-responsive">
          <table class="table table-bordered border-primary add_products_table">
            <thead>
              <tr>
                <th scope="col"></th>
                <!-- <th scope="col">SR NO</th> -->
                <th scope="col">PARTICULARS</th>
                <th scope="col">QTY</th>
                <th scope="col">PRICE (₹)</th>
                <th scope="col">TOTAL (₹)</th>
              </tr>
            </thead>
            <tbody id="invoice-form-items-table-body">
            <tr>
              {% for item_dict in context.data.invoice_json['items'] %}
              <td><button type="button" class="btn btn-primary remove_row">-</button></td>
              <!-- <td>1</td> -->
              <td><input type="text" value="{{item_dict['product_name']}}" style="width: fit-content" name="product_name" class="form-control border-secondary" list="product_list" required autocomplete="off"></td>
              <td><input type="number" value="{{item_dict['qty']}}" style="width: fit-content" name="qty" class="form-control border-secondary"></td>
              <td><input type="number" value="{{item_dict['product_price']}}" style="width: fit-content" name="product_price" class="form-control border-secondary"></td>
              <td><input type="number" value="{{item_dict['total_price_amount']}}" style="width: fit-content" name="total_price_amount" class="form-control border-secondary" readonly></td>
            </tr>
            {% endfor %}
            </tbody>

            <datalist id="product_list">
              {% for p in context.all_products %}
    
              <option value="{{p.product_name}}">{{p.product_name}}</option>
              {% endfor %}
          </datalist>

            <tr>
              <td colspan="8" class="text-right"><button type="button" id="invoice-form-addrow" class="btn btn-primary">+</button></td>
            </tr>
            <tr>
              <td colspan="4" class="text-right"><strong>SUB TOTAL (₹)</strong></td>
              <td><input type="number"  value="{{context.data.invoice_json['sub_total_amount']}}" style="width: fit-content" id="sub_total_amount" name="sub_total_amount" class="form-control border-secondary" readonly></td>
            </tr>
            <tr>
              <td colspan="4" class="text-right"><strong>DISCOUNT (%)</strong></td>
              <td><input type="text"  value="{{context.data.invoice_json['discount_percentage']}}" style="width: fit-content" id="discount_percentage" name="discount_percentage" class="form-control border-secondary"></td>
            </tr>
              <tr>
                <td colspan="4" class="text-right"><strong>	DISCOUNT (₹)</strong></td>
                <td><input type="number"  value="{{context.data.invoice_json['discount_amount']}}" style="width: fit-content" id="discount_amount" name="discount_amount" class="form-control border-secondary" readonly></td>
              </tr>
              <tr>
                <td colspan="4" class="text-right"><strong>TOTAL (₹)</strong></td>
                <td><input type="number"  value="{{context.data.invoice_json['total_amount']}}" style="width: fit-content" id="total_amount" name="total_amount" class="form-control border-secondary" readonly></td>
              </tr>
              <tr>
                <td colspan="4" class="text-right"><strong>GST (₹)</strong></td>
                <td><input type="number"  value="{{context.data.invoice_json['gst_amount']}}" style="width: fit-content" id="gst_amount" name="gst_amount" class="form-control border-secondary" readonly></td>
              </tr>
              <tr>
                <td colspan="4" class="text-right"><strong>	FINAL BILL (₹)</strong></td>
                <td><input type="number"  value="{{context.data.invoice_json['final_amount']}}" style="width: fit-content" id="final_amount" name="final_amount" class="form-control border-secondary" readonly></td>
              </tr>

            </table>
          </div>
          
          <!-- <a href="/all_invoices"><button type="button" id="cancel" class="btn btn-secondary">Cancel</button></a> -->
          <button type="submit" id="save" class="btn btn-outline-primary">Update</button>
            <button type="button" class="btn btn-primary">Update And Print</button>


        </div>
        
      </table>


        
      </form>
</div>

<!-- <script>

  var select_box_element = document.querySelector('#customer_name');

  dselect(select_box_element, {
      search: true
  });

</script> -->


<script src="../static/js/add_invoice.js"></script>

{% endblock body %}