{% extends "base.html" %}

{% block title %}
Settings
{% endblock title %}

{% block body %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Settings</h1>

  <!-- <div class="btn-toolbar mb-2 mb-md-0">

    <a href="/add_invoice" style="text-decoration:none"><button type="button" class="btn btn-sm btn-outline-secondary  d-flex align-items-center gap-1">
      <svg class="bi"><use xlink:href="#file-earmark-text"/></svg>
      Create Invoice
    </button></a>
  </div> -->

  </div>


<div class="container">
  <center><h2><img src="{{current_user['google_account_json']['picture']}}" class="img-fluid" alt="...">  Personal info</h2></center>
  <br>

  <div class="card">
    <div class="card-header">
        Basic info
        <blockquote class="blockquote mb-0">
            <p></p>
            <footer class="blockquote-footer">You cannot edit <cite title="Source Title">Personal Info</cite> update your info from your Google account and re-login</footer>
          </blockquote>
    </div>
    <div class="card-body">

        <div class="mb-3 row list-group-item list-group-item-action list-group-item-light   ">
            <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>{{current_user['name']}}
          </div>

        <div class="mb-3 row list-group-item list-group-item-action list-group-item-light   ">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>{{current_user['email']}}
          </div>

        <div class="mb-3 row list-group-item list-group-item-action list-group-item-light   ">
            <label for="staticEmail" class="col-sm-2 col-form-label">Given Name</label>{{current_user['google_account_json']['given_name']}}
          </div>

        <div class="mb-3 row list-group-item list-group-item-action list-group-item-light   ">
            <label for="staticEmail" class="col-sm-2 col-form-label">Family Name</label>{{current_user['google_account_json']['family_name']}}
          </div>
     
    </div>
    <!-- card-body div end  -->


  </div>
  <!-- card div end  -->

</div>

<br>
<div class="container">
    <center><h2>Company info</h2></center>
    <br>
  
    <div class="card">
      <div class="card-header">
          Basic info
          <blockquote class="blockquote mb-0">
            <p></p>
            <footer class="blockquote-footer">You can edit <cite title="Source Title">Company Info</cite></footer>
          </blockquote>
      </div>
      <div class="card-body">

        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" value="{{ fetch_company_details.company_name }}" id="inputPassword">
            </div>
          </div>
  
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">GST No.</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" value="{{ fetch_company_details.company_gst_no }}" id="inputPassword">
            </div>
          </div>

        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Logo</label>
            <div class="col-sm-10">

                <div class="card" style="width: 18rem;">
                    <img src="data:image/x-icon;base64,{{ fetch_company_details.company_logo }}" class="card-img-top" alt="..."><button type="button" class="btn btn-outline-info">Upload New</button>
                    <!-- <div class="card-body">
                      <p class="card-text">A picture helps people recognize you and lets you know when you’re signed in to your account</p>
                    </div> -->
                  </div>
            </div>
          </div>

        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Favicon</label>
            <div class="col-sm-10">

                <div class="card" style="width: 18rem;">
                    <img src="data:image/x-icon;base64,{{ fetch_company_details.company_favicon }}" class="card-img-top" alt="..."><button type="button" class="btn btn-outline-info">Upload New</button>
                    <!-- <div class="card-body">
                      <p class="card-text">A picture helps people recognize you and lets you know when you’re signed in to your account</p>
                    </div> -->
                  </div>
            </div>
          </div>
  
         
      </div>
      <!-- card-body div end  -->
  
      <button type="button" class="btn btn-success">Update</button>

    </div>
    <!-- card div end  -->
  
  </div>
  
{% endblock body %}