<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>View Invoice | Chetna Plastic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/assets/fonts/font-awesome/css/font-awesome.min.css">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="/static/images/favicon.jpg" type="image/x-icon" >

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="/static/assets/css/style.css">
</head>
<body>

<!-- Invoice 4 start -->
<div class="invoice-4 invoice-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="invoice-inner" id="invoice_wrapper">
                    <div class="invoice-top">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="logo">
                                    <img src="static/images/favicon.jpg" alt="logo">
                                  </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="invoice text-end">
                                    <h1>Invoice</h1>
                                    <strong><span>GSTIN NO: 24AOVPP2442L1ZF</span></strong>
                                    <br>
                                    <strong><span>PAN NO: AOVPP2442L</span></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="invoice-titel">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="invoice-number">
                                    <h3>Invoice Number: <strong>{{context.data.invoice_no}}</strong></h3>
                                </div>
                            </div>
                            <div class="col-sm-6 text-end">
                                <div class="invoice-date">
                                    <h3>Invoice Date: <strong>{{context.data.invoice_date}}</strong></h3>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <br>
            

                    <center><h4>CUSTOMER DETAILS</h4></center>
                    <div class="order-summary">
                        <div class="table-responsive">
                            <table class="table invoice-table table-bordered border-dark">
                                <thead class="bg-active">
                                    <tr>
                                
                                        <td colspan="8">Customer Name</td>
                                        <td colspan="8"> <strong>{{context.data.customer_name}}</strong></td>
                                        <td colspan="8">Customer Place</td>
                                        <td colspan="8"> <strong>{{context.data.customer_place}}</strong></td>
                                        </tr>
                                    <tr>
                                
                                        <td colspan="8">Customer Mobile No.</td>
                                        <td colspan="8"> <strong>{{context.data.invoice_json['customer_mobile_no']}}</strong></td>
                                        <td colspan="8">Customer GST No.</td>
                                        <td colspan="8"> <strong>{{context.data.invoice_json['customer_gst_no']}}</strong></td>
                                        </tr>
                                    <tr>
                                
                                        <td colspan="8">Parcel Details</td>
                                        <td colspan="8"> <strong>{{context.data.invoice_json['parcel_details']}}</strong></td>
                                        <td colspan="8">Note</td>
                                        <td colspan="8"> <strong>{{context.data.invoice_json['note']}}</strong></td>
                                        </tr>
                                </thead>
                            </table>
                        </div>
                        </div>

                    <center><h4>PRODUCT DETAILS</h4></center>
                    <div class="order-summary">
                        <div class="table-responsive">
                            <table class="table invoice-table table-bordered border-dark">
                                <thead class="bg-active">
                                <tr>
                                    <td style="width: 2px;">Sr No.</td>
                                    <th style="width: fit-content">Particulars</th>
                                    <th style="width: 2px;" class="text-center">Quantity</th>
                                    <th class="text-center">Price</th>
                                    <th class="text-right">Totals</th>
                                </tr>
                                </thead>
                                <tbody>
                                  
                                    {% for i in range(20) %}
                                    {% if loop.index <= context.data.invoice_json['items'] | length %}
                                    {% set item_dict = context.data.invoice_json['items'][loop.index - 1 ] %}

                                <tr>
                                    <td class="text-center"><div class="item-desc-1">
                                        <span>{{loop.index}}</span>
                                    </div></td>
                                    <td>
                                        <div class="item-desc-1">
                                            <span>{{item_dict['product_name']}}</span>
                                        </div>
                                    </td>
                                    <td class="text-center">{{item_dict['qty']}}</td>
                                    <td class="text-center">₹{{item_dict['product_price']}}</td>
                                    <td class="text-right">₹{{item_dict['total_price_amount']}}</td>
                                </tr>


                                {% else %}
                                <tr>
                                    <td class="text-center"><div class="item-desc-1">
                                        <span>&nbsp;</span>
                                    </div></td>
                                    <td>
                                        <div class="item-desc-1">
                                            <span></span>
                                        </div>
                                    </td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-right"></td>
                                </tr>

                                {% endif %}
                                {% endfor %}
                                  
                               
                                <tr>
                                    <td colspan="4" class="text-end"> <strong>SubTotal (INR)</strong></td>
                                    <td class="text-right"><strong>₹{{context.data.invoice_json['sub_total_amount']}}</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-end"><strong>Discount (%)</strong></td>
                                    <td class="text-right"><strong>{{context.data.invoice_json['discount_percentage']}}%</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-end"><strong>Discount (INR)</strong></td>
                                    <td class="text-right"><strong>₹{{context.data.invoice_json['discount_amount']}}</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-end"><strong>Bill Total</strong></td>
                                    <td class="text-right"><strong>₹{{context.data.invoice_json['total_amount']}}</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-end"><strong>GST (18%)</strong></td>
                                    <td class="text-right"><strong>₹{{context.data.invoice_json['gst_amount']}}</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-end fw-bold"><strong>Grand Total (INR)</strong></td>
                                    <td class="text-right fw-bold"><strong>₹{{context.data.invoice_json['final_amount']}}</strong></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                
                            </div>
                        </div>
                    </div>

                </div>
                <div class="invoice-btn-section clearfix d-print-none">
                    <a onClick="document.title = '{{context.data.customer_name}} ({{context.data.invoice_date}})';window.print();" id="print-invoice-btn" class="btn btn-lg btn-print">
                        <i class="fa fa-print"></i> Print Invoice
                    </a>
                    <!-- <a id="invoice_download_btn" class="btn btn-lg btn-download btn-theme">
                        <i class="fa fa-download"></i> Download Invoice -->
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Invoice 4 end -->

<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/jspdf.min.js"></script>
<script src="/static/assets/js/html2canvas.js"></script>
<script src="/static/assets/js/app.js"></script>
</body>
</html>
